.basket-aside {
  background: $layout-panel;
  padding: 1rem;
  color: $white;
  .ba-add-button {
    text-align: right
  }
  button {
    color: $white;
    background: $red-icon
  }

  .ba-price {
    color: $white;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    line-height: .8;
    .fa {
      font-size: 1.4rem
    }
  }
  a {
    color: $white
  }
  .ba-stores {
    font-size: 0.8rem;
    .ba-store {
      a {
        display: block;
        border-bottom: 1px dotted;
      }
      span {
        color: $green;
        font-size: 0.6rem
      }

    }
  }
}